
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@Html.Action("PartialHead", "AdminLayout", "Admin")
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        @Html.Action("PartialSidebar", "AdminLayout", "Admin")
        <!-- End Sidebar -->
        @Html.Action("PartialNavbar", "AdminLayout", "Admin")
        @RenderBody()
        @Html.Action("PartialFooter", "AdminLayout", "Admin")
    </div>
    @Html.Action("PartialScript", "AdminLayout", "Admin")
</body>
</html>